* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* font-family: 'Baskervville', serif; */
}

/* ======= Navigation Bar ======= */
.dropdown-menu {
<<<<<<< HEAD
  background-color: rgb(46,51,56) !important;
=======
  background-color: rgb(46, 51, 56) !important;
>>>>>>> 81c85eb902cf33626e3e934be91198ab8249baa1
}

.dropdown-menu a {
  text-decoration: none;
  color: white;
}

.dropdown-menu a:hover {
  color: black;
  text-decoration: none;
}

.home-header {
  height: 70vh;
  background-image: url("https://storage.googleapis.com/hz_bucket/candle.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-box {
  color: #e9ecef;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  background-color: rgba(86, 85, 87, 0.5);
  width: 80%;
  border-radius: 10px;
}
.header-text {
  width: 80%;
}
h1 {
  font-size: 4em;
}

.textstyle {
  font-size: 2em;
}
img {
  margin-left: auto;
  margin-right: auto;
}
/* nav {
  position: static;
  text-align: right;
  list-style: none;
} */
/* #navbar {
  overflow: hidden;
  background-color: #333333;
}
#navbar a {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
} */

main {
  text-align: center;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-image: url("https://unsplash.com/photos/hDyO6rr3kqk");
}

h3 {
  margin-top: 3rem;
}
table,
td {
  border: 1px solid #333333;
  width: auto;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  text-shadow: black;
}

thead,
tfoot {
  background-color: brown;
  color: cornsilk;
}

/* Style inputs for footer*/
<<<<<<< HEAD
.stylebut {
  background-color: brown;
  border-radius: 1em;

}
.stylebut a {
  color: antiquewhite;
  font-family: inherit;
}

/* Style the container/contact section */
footer{
  background-image: url("https://unsplash.com/s/photos/light");
}
=======
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
>>>>>>> 81c85eb902cf33626e3e934be91198ab8249baa1
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

<<<<<<< HEAD
=======
.about-us {
  background-color: rgba(142, 192, 228, 0.3);
  border-radius: 10px;
}
.about-text {
  height: 150px;
  background-color: rgba(86, 85, 87, 0.3);
  border-radius: 10px;
  color: white;
}
.icon {
  width: 80px;
  height: auto;
}

>>>>>>> 81c85eb902cf33626e3e934be91198ab8249baa1
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
  .header-title {
    font-size: 25px;
  }
  .header-text {
    font-size: 12px;
  }
}
